<a href="/" class="logo"></a>
<ul class="menu">
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'auth:login' %}">Войти</a>
        {% endif %}
    </li>
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'auth:edit' %}">
            {{ user.first_name |default:'Пользователь' }}_A.K.A._{{ user.username | default:'someMan' }}
        </a>
    </li>
    {% endif %}
    <li>
        <a href="/"
            class="{% if request.path == '/' %} active {% endif %}"
        >
            домой
        </a>
    </li>
    <li>
        <a href="products"
            class="{% if 'product' in request.path %} active {% endif %}"
        >
            продукты
        </a>
    </li>
    <li>
        <a href="contact"
            class="{% if request.path == '/contact' %} active {% endif %}"
        >
            контакты
        </a>
    </li>
    {% if user.is_authenticated %}
    <li>
        <a href="/cart"
            class="{% if request.path == '/cart' %} active {% endif %}"
        >
            Корзина: {{ data |default:'пусто' }}
        </a>
    </li>
    {% endif %}
</ul>